{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row">
        <div class= "col" style = "float: left;">
            <h1>Art for All</h1>
            <hr/>
            <br>
            <h3>Who We Are</h3><br>
            <p style = font-size:large>Founded over 15 years ago, Art for All is a community group which aims to provide independent and affordable art classes to adults who suffer with mental health issues.
            
            Our emphasis is on providing a supportive, safe and sociable space, where people can learn and build both new and existing artistic skills. <br><br> As members of Art for All we encourage people to view themselves as artists and not allow their mental health issue to define them, instead, we encourage them to recognise their potential and how being creative helps to promote both short-term and long-term well-being.
            
            <br><br>We run weekly sessions where we practice drawing, painting and printmaking, as well as holding exhibitions in various venues, visiting tutors who run workshops and visit art galleries.
            
            We are fortunate to have the long-term loan of a large Art room in Cheltenham from Independence Trust, with whom we enjoy a supportive relationship.</p>
            <br>
            <br>
            <hr/>
        </div>
        <div class ="col">
        <br><br><br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Have any questions or queries?</h5>
              <p class="card-text">Feel free to contact us at any time.</p>
              <a href="/contact" class="btn btn-primary">Contact</a>
            </div>
          </div>
          <img src= {% static '/img/art5.jpg' %} style= "max-height: 30rem;">
          </div>
    </div>

    <div class ="row">

        <h3> Committee Guidelines</h3>
        <br>
        <br>
       
      <ol type="A">
        <li>THE PURPOSES OF THE GROUP ARE</li>
      <p>To deliver arts provision to adults living with mental health conditions in a safe inclusive environment.</p>
      <li> CARRYING OUT THE PURPOSES</li>
      <p>To deliver arts provision to adults living with mental health conditions in a safe inclusive environment.</p>
      In order to carry out the purposes, the committee has the power to:

        <ol type="1">

          <li>Raise funds, receive grants and donations</li>
          <li>Co-operate with and support other groups with similar purposes</li>
          <li>Do anything else which is within the law which is necessary to achieve the purposes.</li>

        </ol>


        <li>MEMBERSHIP</li>
        <p>The committee may admit to membership anybody aged 18 and over who supports the purposes of the group and agrees to abide by the guidelines and group rules.</p>
        <p>The committee may expel membership, provided it is in the groups best interests, and they are given the right to be heard by the committee before the decision is made.</p>

        <li>ANNUAL GENERAL MEETING </li>
        <ol type="1">

          <li>The AGM must be held every year, with 14 days notice to all members telling them what is on the agenda.</li>
          <li> There must be at least 4 members present at the AGM.</li>
          <li>The committee must present annual accounts.</li>

        </ol>


        <li>COMMITTEE </li>
        <ol type="1">

          <li>The committee shall hold at least two meetings a year. They will elect a chair, treasurer and secretary at their first meeting.</li>
          <li> Minutes shall be kept for each meeting, at least 3 members must attend the committee meeting.</li>
          <li>The committee must keep accounts which can be viewed by any member on request.</li>

        </ol>


        <li>MONEY </li>
        <ol type="1">

          <li>Funds must be kept in the groups bank account, with two named committee members on the account.</li>

        </ol>



        <li>WINDING UP </li>
        <ol type="1">

          <li>The group may be wound up by a two thirds majority of members present at a special general meeting. Any money or property remaining must be given to a similar (charitable) purposes.</li>

        </ol>


        <li>SETTING UP THE GROUP </li>
        <ol type="1">

          <li>These group guidelines were adopted on 3rd February 2022 by the people who's signatures appear below. They will be the committee until the first AGM, which must be held within one year of this date. </li>

        </ol>

        <p>Jayne Smith</p>
        <br>
        <p>Kim Aiken</p>
        <br>
        <p>Joe Biggadike</p>
        <br>
        <p>Paul Wintle</p>


      </ol>


    </div>

{% endblock %} 
