{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="row">
        <div class= "col" style = "float: left;">
            <h1>Art for All</h1>

            <br>
            <p style = font-size:20px>Founded over 15 years ago, Art for All is a community constituted group which aims to provide independent and affordable art classes to adults who suffer with mental health issues.

            Our emphasis is on providing a supportive, safe and sociable space, where people can learn and build both new and existing artistic skills. <br><br> As members of Art for All we encourage people to view themselves as artists and not allow their mental health issues to define them, instead, we encourage them to recognise their potential and experience how being creative helps to promote both short-term and long-term well being.

            <br><br>We run weekly sessions where we practice drawing, painting and printmaking, as well as holding exhibitions in various venues, we have visiting tutors who run workshops and we also visit art galleries.

            We are fortunate to have the long term loan of a large Art room in Cheltenham from the Independence Trust, with whom we enjoy a supportive relationship.</p>
            <br><br>
            <p style ="font-size: 20;"> To find out more information, such as session pricing, and what our clients say about Art for All, please take a look at the <a href="/about" class="btn btn-primary">About Us</a> Page.</p>
            <br>
            <br>
            <br>
        </div>
        <div class ="col">
        <br><br><br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Have any questions or queries?</h5>
              <p class="card-text">Feel free to contact us at any time.</p>
              <a href="/contact" class="btn btn-primary">Contact</a>
            </div>
          </div>
          <br><br>
          <img src= {% static '/img/art1.jpg' %} style= "max-width: 30rem;">
          </div>
    </div>

    <hr/>

    <div class ="row">
      <div class = "col">

        <h3> What our members say about Art for All</h3>
          <br>
          <br>
         


        <p style ="font-size: large;"class= "text-muted">"Art for All has given me a safe space where I can be myself. It makes such a difference to have somewhere where I can focus on art and nothing else. I don't have to worry or think about the world or my problems, just something
          that makes me feel happy and accomplished. I love Shelley's support, encouragement and guidance, and am truly grateful. " <p style="font-size: 14px;">-Becky</p>  
        </p>

        <p style ="font-size: large;"class= "text-muted">"Art for All rekindled my love for art and creativity in general. I joined this group at a very vulnerable and isolated point in my life when I was 19 and 8 years later I'm still in contact with everyone
          and we really do care about eachother. It's such a supportive environment for people from all walks of life who just need an extra boost. My social anxiety has improved since joining and Shelley could not do a better job of looking out for us all and inspiring
          us. " <p style="font-size: 14px;">-Claudia</p>  
        </p>

        <p style ="font-size: large;"class= "text-muted">"Art for all has helped me have a few hours of being creative, and take my mind off things going on in my life. I've also met some amazing friends and I'd be lost without it. Shelley is also
          amazing and always supports us with whatever project or art piece we're working on. I love this group. " <p style="font-size: 14px;">-Gary</p>  
        </p>

        <p style ="font-size: large;"class= "text-muted">"I would like to say that the art group is the only group I really look forward to. The other clients are all friendly and I have a good repore with them and Shelley. Without the group, my mental health
          would deteriorate as I don't have the inspiration or motivation to draw or paint at home. It's a lifeline for me. " <p style="font-size: 14px;">-Tina</p>  
        </p>

        <p style ="font-size: large;"class= "text-muted">"Art for All is a place to explore and experiment with making art in a supportive atmosphere, and has really helped with my mental health. " <p style="font-size: 14px;">-Carole</p>  
        </p>

        <p style ="font-size: large;"class= "text-muted">"Art for All group is something positive for me to aim for each week for improvement and achievement in art." <p style="font-size: 14px;">-Helen</p>  
        </p>
      </div>

    <div class = "col">
      <img src= {% static '/img/art2.jpg' %} style= "max-width: 30rem;">
      <br><br><br><br>
      <img src= {% static '/img/art3.jpg' %} style= "max-width: 30rem;">
    </div>

    </div>


{% endblock %} 