{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="row">
        <div class= "col" style = "float: left;">
            <h1>Art for All</h1>

            <br>
            <p style = font-size:20px>Founded over 15 years ago, Art for All is a community constituted group which aims to provide independent and affordable art classes to adults who suffer with mental health issues.

            Our emphasis is on providing a supportive, safe and sociable space, where people can learn and build both new and existing artistic skills. <br><br> As members of Art for All we encourage people to view themselves as artists and not allow their mental health issues to define them, instead, we encourage them to recognise their potential and experience how being creative helps to promote both short-term and long-term well being.

            <br><br>We run weekly sessions where we practice drawing, painting and printmaking, as well as holding exhibitions in various venues, we have visiting tutors who run workshops and we also visit art galleries.

            We are fortunate to have the long term loan of a large Art room in Cheltenham from the Independence Trust, with whom we enjoy a supportive relationship.</p>
            <br><br>
            <p style ="font-size: 20;"> To find out more information, such as session pricing, who we are and our mission, please take a look at the  <a href="/about" class="btn btn-primary">About Us</a> Page.</p>
            <br>
            <br>
            <br>
        </div>
        <div class ="col">
        <br><br><br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Have any questions or queries?</h5>
              <p class="card-text">Feel free to contact us at any time.</p>
              <a href="/contact" class="btn btn-primary">Contact</a>
            </div>
          </div>
          <br><br>
          <img class="img-responsive" src= {% static '/img/room1.jpg' %} style= "max-width: 30rem;">
          </div>
    </div>

    <hr/>

    <div class ="row">
      <div class = "col">

        <h3>Our Mission</h3><br>
        <p style="font-size: large;"> Art for All's mission is to provide arts provisions for those who suffer with mental health issues.</p>
        <p style ="font-size: large">All artistic ability and ambition will be recognised, respected, and encouraged.</p>
        <p style ="font-size: large">This is achieved by providing a safe, inclusive social space, good quality arts materials, opportunities, and tuition where it's wanted, alongside support from peers and tutors. This in turn
        enables individuals to see their own value as people and as artists, so that they cannot be defined by their mental health situation.</p><br>
        <hr/> 
      </div>

    <div class = "col">
      <img class = "img-responsive" src= {% static '/img/room2.jpg' %} style= "max-width: 30rem;">
      <br><br><br><br>
      <img class ="img-responsive" src= {% static '/img/room3.jpg' %} style= "max-width: 30rem;">
    </div>

    </div>


{% endblock %} 
