{% url 'home' as home %}
{% url 'gallery' as gallery %}
{% url 'about' as about %}
{% url 'contact' as contact %}

{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; width: 100%; top:0; z-index:1; font-size: large;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.jpg' %}" alt="logo" width="" height="100rem;" class="d-inline-block align-text-top" href = "{% url 'home' %}"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == gallery %} active {% endif %}" href="{% url 'gallery' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == about %} active {% endif %}" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == contact %} active {% endif %}" href ="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>